$greenColor: #5cb85c;
$redColor: #d9534f;
$greyColor: #DDDDDD;
$orangeColor: orange;

#todoListWrapper {
  display: flex;
  flex-direction: column-reverse;
}

#addTodo {
  cursor: pointer;
}

.innertElement {
  cursor: default;
}

#todos {
  .todoWrapper {
    display: inline-flex;
    width: 100%;
  }

  .todoItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    border: $greyColor 1px solid;
    border-radius: 5px;
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-color: transparent;
    }
    .todoItemBadges {
      display: flex;
      flex-direction: row;
    }
  }

  .todoExpiredItem {
    border: 1px solid $redColor;
  }

  .todoActionsWrapper {
    margin-left: 3%;
    width: 20%;
  }

  .card-body {
    width: 100%;
    margin-top: 10px;
  }

  .todoRemove, .todoDone {
    cursor: pointer;
  }

  .removedTodo {
    .card-body {
      color: $greyColor;
      text-decoration: line-through;
    }
    &:hover {
      box-shadow: none;
    }
  }

  .todoActions {
    width: 100%;
    display: flex;
    margin: 20px 0 0 0;
  }

  .todoAction {
    padding: 0 5px;
    color: $greyColor;
    cursor: pointer;
  }

  .todoAction.todoRemove {
    color: $redColor;
  }

  .todoAction.todoDone {
    color: $greenColor;
  }

  .todoImprove {
    color: $orangeColor;
  }

  .improvedTodo {
    color: $redColor;
  }

  .completedTodo {
    color: $greenColor;
    border: $greenColor 1px solid;
    &:hover {
      box-shadow: none;
    }
  }

  .completeBadge {
    margin-right: 5px;
  }

  .movedElement {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

}

